@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,700,900&display=swap');
@import url('style.css');


.container-padding {
    padding: 5% 8%;
}
.jumbotron {
    padding: unset !important;
    margin: unset !important;
    background-color: rgba(0, 157, 255, 0.247) !important;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("img/theme\ color.png"); */

}
.home-banner{
    background-image: url("../img/Home/Home\ Banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex !important;
    align-content: left;
    justify-content: center !important;
    flex-direction: column;
    height: 34rem;
}
.home-caption {
    margin-bottom: 0% !important;
    text-align: left;
    padding: 12% 8%;
    width: 50%;
    color: white;
}
.about {
    display: block;
    text-align: center;
}
.about .button {
    background: #0B6DAC !important;
    color: #fff !important;
    border-radius: 0% !important;
    font-weight: 400 !important;
    padding: 2%;
    margin-top: 4%;
}
.about .button:hover {
    background-color: white !important;
    border-color: white !important;
    color: #0B6DAC !important;
    /* border: solid; */
}
/* .hero-video{
    width: 100% !important;
    flex: unset !important;
}

video{
    width: 100% !important;
} */

.solutions {
    text-align: center !important;
    color: white;
}
.solutions .card {
    justify-content: center !important;
    padding: 4% 4%;
    background-image: url("../img/theme\ color.png");
    background-position: center;
    width: 100%;
}
.solutions i {
    margin-bottom: 2%;
    font-size: 450%;
}
.solutions .btn {
    border-radius: 0% !important;
}
.solutions .btn:hover {
    color: #0B6DAC !important;
    background-color: white !important;
}
.bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/theme\ color.png");
}
.h-services {
    color: white !important;
}
.h-services .header {
    color: white !important;
}
.h-services i {
    margin-bottom: 2%;
    font-size: 500%;
}
.h-services .row div{
    padding-left: 4%;
    padding-right: 4%;
}
.h-services .btn-link {
    color: white !important;
    font-size: 110%;
    font-weight: 500;
}



/* ---Media Queries---*/
@media (max-width: 1199px) {
    .container-padding {
        padding: 5% 6%;
    }
    .home-banner{
        height: 28rem !important;
    }
}
@media (max-width: 991px) {
    .home-banner{
        height: 24rem !important;
    }
    
}
@media (max-width: 767px) {
    .home-banner{
        height: 20rem !important;
    }
}
@media (max-width: 596px) {
}
@media (max-width: 575px) {
    .home-banner {
        background-position: -15vw !important;
        height: 18rem !important;
    }    
    .home-caption {
        padding: 8% 8% !important;
        width: 60% !important;
    }
    .solutions .card {
        display: block;
        text-align: center !important;
        width: 100%;
        margin-bottom: 5%;
    }
}
@media (max-width: 470px) {
    .home-banner{
        background-position: -30vw !important;
        height: 15rem !important;
    }    
    .home-caption {
        padding: 5% 8% !important;
        width: 70% !important;
    }
}
@media (max-width: 383px) {
    .home-banner{
        background-position: -30vw !important;
        height: 12rem !important;
    }
}
@media (max-width: 337px) {
    .home-banner{
        background-position: -15vw !important;
        height: 10rem !important;
    } 
    .home-caption {
        padding: 8% 8% !important;
        width: 75% !important;
        font-size: 1.7rem !important;
        font-weight: 400 ! important;
    }
}

/*========== BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default on Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200 px) { ... }

=============*/