@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,700,900&display=swap');


html {
    height: 100%;
    width: 100%;
}
body{
    font-family: 'Roboto' !important;
    color: #3E3E3E !important;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    font-size: 1.5rem !important;
    line-height: 1.75 !important;
}
a {
    color: inherit !important;
}
#container-fluid {
   min-height:100%;
   position:relative !important;
   padding-bottom: 10rem;
}


/*---NAVBAR---*/
nav.navbar {
    background-color: #fff;
    padding: 0 5%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    height: auto;
}
/* .container-fluid {
    margin-top: .5% !important;
} */
.navbar-content {
    width: 100%;
}
/* .navbar-logo {
    padding-left: 5% !important;
} */
.navbar-brand img{
    height: 4.5rem;
    margin: 3% 0 !important;
}
.navbar button {
    border: none !important;
    background-color: none !important;
    font-size: 2.5rem;
    color: #0B6DAC !important;
    z-index: 10;

}
.navbar-toggler {
    padding: 2% 1% !important;
}
#navbarResponsive .nav-item {
    /* font-size:110%; */
    font-weight: 500;
    padding-left: 8%;
}
#navbarResponsive .nav-link:hover {
    color: #00A8FB !important;
}
#navbarResponsive .button{
    font-size:inherit;
    background: #0B6DAC !important;
    color: #fff !important;
    border-radius: 0% !important;
    font-weight: 400 !important;
    /* padding: 1%; */
    height: 4.5rem;
    text-align: right;
    margin-left: 4%;
    display: flex;
    align-items: center;
}

#navbarResponsive .button:hover {
    background-color: #fff !important;
    border-color: #0B6DAC !important;
    color: #0B6DAC !important;
}
.dropdown-menu {
    border: none !important;
}
.dropdown-menu .subpage {
    padding-left: 2.5rem !important;
}
.dropdown-item {
    font-weight: 500;
}
.dropdown-item:hover {
    color: white !important;
    background-color: #0B6DAC !important;
}

.header-banner{
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex !important;
    align-content: left;
    justify-content: center !important;
    flex-direction: column;
    margin-bottom: 0% !important;
    height: 18rem;
}



.previous-page {
    font-size: 1rem;
    margin-top: 2%;
    margin-left: 8%;
}
.previous-page i {
    color: #1789c3;
}
.previous-page label{
    padding-left: 1%;
}

.header {
    color: #015391;
    font-weight: 500 !important;
    text-align: center;
    /* font-size: 150% !important; */
    margin-bottom: 4% !important;
}
.row {
    margin: unset !important;
}

/*---FOOTER----*/
#footer {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    color: #3E3E3E;
    width: 100%;
    /* height: 100px; */
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    line-height: unset;
    /* font-size: 90%; */
}
.footer-contactUs {
    width: 100%;
    background: #0B6DAC;
    color: rgb(255, 255, 255) !important;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
}
.footer-contactUs .btn {
    margin-left: 2%;
    border-radius: 0% !important;
    border: solid;
    font-weight: bold;
}
.footer-contactUs .btn:hover {
    color: #0B6DAC !important;
    background-color: white !important;
    border-color: #0B6DAC !important;
}
.footer {
    padding: 1.1rem 3%;
}
.footer label {
    margin-bottom: -2rem;
}
.footer-l1 {
    display: flex;
    justify-content: space-between !important;
}
.footer-c1 {
    padding: 0 0 !important;
}
.footer-logo {
    height: 4rem;
}
.footer-c2 {
    padding: 0 0 !important;
}
.footer-nav {
    display: inline-flex;
    text-align: center !important;
    font-weight: 400;
}
.footer-nav .nav-link {
    text-align: center;
    font-size: 90%;
}
.footer-nav .nav-link:first-child {
    padding-left: 0 !important;
}
.footer-nav .nav-link:last-child {
    padding-right: 0 !important;
}
.social-media {
    display: inline-flex;
    padding: 0 0 !important;
}
.social-media i {
    color: #0B6DAC;
    font-size: 2rem;
}
.social-media i:hover {
    color: white;
    font-size: 2rem;
    text-shadow:
        -1px -1px 0 #0B6DAC,  
        1px -1px 0 #0B6DAC,
        -1px 1px 0 #0B6DAC,
        1px 1px 0 #0B6DAC;
}
.footer-last p{
    margin-bottom: 0 !important;
}
.footer-l2 {
    display: flex;
    margin-top: 1%;
    font-size: 80% !important;
    justify-content: space-between !important;
}
.footer-l2-mid {
    padding: 0 0 !important;
}
.footer-last {
    padding: 0 0 !important;
}
/* #footer address {
    margin-top: 1rem;
    margin-bottom: 0 !important;
    line-height: 1.5 !important;
}
.footer-label {
    padding-top: 1%;
    padding-left: 5% !important;
    padding-right: 5% !important;
} 

*/









/* ---Media Queries---*/

@media (max-width: 1217px) {
    .navbar-brand img{
        /* height: 4.rem; */
        margin: 2% 0 !important;
    }
    nav.navbar {
        padding: 0 3%;
    }
    #navbarResponsive .nav-item {
        padding-left: 6%;
    }     
}
@media (max-width: 1199px){
    .footer-l1 {
        display: block !important;
        text-align: center;
    }
    .footer-l2 {
        display: block !important;
        text-align: center;
        font-size: 90%;
    }
}
@media (max-width: 1100px) {
    nav.navbar {
        padding: 0 2%;
    }
    .navbar-brand img{
        height: 3.5rem;
        margin: 2% 0 !important;
    }
    #navbarResponsive .button{
        padding: 1%;
        text-align: right;
        margin-left: 4%;
        height: 3.5rem;
    }
    #navbarResponsive .nav-item {
        padding-left: 3%;
    } 
}

@media (max-width: 991px) {
    body{
        font-size: 1.25rem !important;
    }
    h1 {font-size: 2.25rem !important;}
    /* h2 {font-size: 1.75rem !important;}
    h3 {font-size: 1.5rem !important;}
    h4 {font-size: 1.25rem !important;}
    h5 {font-size: 1rem !important;}
    h6 {font-size: .75rem !important;} */
    nav.navbar {
        padding: 0 5%;
    }
    .navbar-brand img{
        height: 4rem;
        margin: 2% 0 !important;
    }
    #navbarResponsive {
        background-color: white;
        width: 100%;
    }
    .footer-logo {
        height: 3.75rem;
    }
    .social-media i {
        font-size: 1.75rem;
    } 
}
@media (max-width: 767px) {
    .header-banner{
        height: 16rem;
    }
}
@media (max-width: 589px) {
    .footer-nav .nav-link {
        text-align: center;
        font-size: 90%;
        padding: .25rem .5rem
    }
}
@media (max-width: 575px) {
    .header-banner{
        height: 14rem;
        background-position: -10vw;
    }
}
@media (max-width: 538px) {
    body{
        font-size: 1rem !important;
    }
    .btn-lg {
        padding: 2% !important;
        font-size: 1rem !important
    }
    h1 {font-size: 2.1rem !important;}
    h2 {font-size: 1.9rem !important;}
    h3 {font-size: 1.8rem !important;}
    h4 {font-size: 1.6rem !important;}
    h5 {font-size: 1.4rem !important;}
    h6 {font-size: 1.2rem !important;}
    .header-banner{
        height: 13rem;
    }
    
    .footer-contactUs {
        display: block;
        text-align: center;
    }
    .footer-logo {
        height: 3.5rem;
    }
    .social-media i {
        font-size: 1.5rem;
    }
    .footer-nav {
        display: inherit;
    }
    .footer-nav .nav-link {
        font-size: 100%;
        padding: .1rem .5rem
    }
}
@media (max-width: 470px) {
    .navbar-brand img{
        height: 3.5rem;
        margin: 2% 0 !important;
    }
    .header-banner{
        height: 12rem;
        background-position: -20vw;
    }
}
@media (max-width: 383px) {
    .header-banner{
        height: 10rem;
        background-position: -20vw;
    }
}
@media (max-width: 348px) {
    .btn-lg {font-size: .75rem !important}
    h1 {font-size: 1.8rem !important;}
    h2 {font-size: 1.7rem !important;}
    h3 {font-size: 1.5rem !important;}
    h4 {font-size: 1.3rem !important;}
    h5 {font-size: 1.2rem !important;}
    h6 {font-size: 1rem !important;}

    .header-banner{
        height: 8rem;
        background-position: -10vw;
    }
}

/* 
h1 2.5rem
h2 2
h3 1.75
h4 1.5
h5 1.25
h6 1
*/

/*========== BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default on Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200 px) { ... }

=============*/