@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,900&display=swap');


/*---CONTENT----*/
#Company {
    margin-right: 12% !important;
    margin-left: 12% !important;
    line-height: 2;
    font-size: 1.5rem;
    text-align: justify;
}
#Company hr {
    margin-top: 7%;
    margin-bottom: 7%;
    border-top: 1px solid rgba(0, 0, 0, 0.35);
}
#officer {
    margin-top: 2.5%;
    justify-content: center;
    display: block;
    text-align: center;
}
.officer-img {
    width: 100%;
    border: 2px solid;
    padding: 1%;
}
.officer-info {
    margin-top: 3%;
    line-height: 1;    
}
.officer-name {
    color: #00A8FB;
    font-weight: 500;
    font-size: x-large;
    margin-bottom: 1% !important;
}
.officer-position {
    font-size: smaller;
}
#history p{
    padding-right: 2%;
}
.yr-title {
    color: #00A8FB;
    display: flex;
    font-size: xx-large;
    font-weight: 500;
}
.history-title {
    text-align-last: left;
}
.yr {
    text-align: right !important;
}
.month {
    text-align: right;
    font-weight: 500;
}
.colon{
    font-weight: 500;
}
.month-content {
    display: flex;
}

.president {
    display: table-caption;
    justify-content: center;
    display: block;
    text-align: center;
}
.pres-img{
    width: 90%;
    border-style: solid;
    border-radius: 50%;
}
.pres-name {
    font-weight: 600;
}
.quote {
    color: #00A8FB;
    font-weight: 500;
    font-size: xx-large;
    line-height: 3rem;
}

.flag {
    margin-top: 4%;
    display: flex;
}
.flag img{
    margin-left: .5%;
    margin-right: 1.5%;
    height: 3rem;
    border: 1px solid #3E3E3E;
}
.flag p{
    font-weight: bold;
    font-size: larger;
}
.com-name{
    text-align: left;
    font-size: larger;
    color: #00A8FB;
    line-height: 1.25;
    margin-bottom: -.25% !important;
}
.website {
    font-size: 60%;
    padding-right: 1%;
    display: flex;
    color: #00A8FB;
}
.website p{
    padding-right: .5%;
    margin-bottom: unset !important;
}
.ofc {
    font-size: smaller;
    font-weight: 500;
    margin-bottom: -.1% !important;
}
.address{
    line-height: 1.5;
    font-size: medium;
    margin-bottom: -.09%;
}
.tel{
    font-size: medium;
}





/* ---Media Queries---*/
@media (max-width: 1092px) {
    #Company {
    line-height: 1.8;
    font-size: 1.3rem;
    }
    .officer-name {
        font-size: inherit;
    }
}
@media (max-width: 992px) {
    #Company {
    line-height: 1.6;
    font-size: 1.1rem;
    }
    .yr-title {
        font-size: x-large;
    }
    .quote {
        font-size: x-large;
        line-height: 2.5rem;
    }
    .website {
        font-size: 70%;
    }
    .address, .tel{
        font-size: small;
    }
}
@media (max-width: 768px) {
    #Company {
    line-height: 1.4;
    font-size: .9rem;
    }
    .officer-name {
        font-size: larger;
    }
    .yr-title {
        font-size: x-large;
    }
    .quote {
        font-size: x-large;
        line-height: 2rem;
    }
    .flag img{
        height: 2.5rem;
    }
    .ofc {
        font-size: 85%;
        margin-bottom: 2%;
    }
    .website {
        font-size: 75%;
    }
    .address, .tel{
        font-size: smaller;
    }
    
}

@media (max-width: 596px) {
    #Company {
    line-height: 1.5;
    font-size: .85rem;
    }
    .yr-title {
        font-size: large;
    }
    .pres-img{
        width: 30%;
    }
    .quote {
        font-size: large;
        line-height: 1.5rem;
    }
    .flag img{
        height: 2.25rem;
    }
    .ofc {
        margin-top: 2%;
        font-size: 95%;
        margin-bottom: 2%;
    }
    .website {
        font-size: 75%;
    }
    .address, .tel{
        font-size: smaller;
    }
}
@media (max-width: 450px) {
}
@media (max-width: 383px) {
}
@media (max-width: 337px) {
}



/*========== BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default on Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200 px) { ... }

=============*/