@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,900&display=swap');
/*---CONTENT----*/
.content {
    margin-left: 12%;
    margin-right: 12%;
    color: #3E3E3E;
    text-align: justify;
    font-size: 1.75rem;
}


/* ---Media Queries---*/
@media (max-width: 1100px) {
    .content {
        font-size: 1.5rem;
    }
}
@media (max-width: 768px) {
    .content {
        font-size: 1.25rem;
    }
}
@media (max-width: 596px) {
    .content {
        font-size: 1rem;
    }
}
@media (max-width: 526px) {
    .content {
        font-size: .85rem;
    }
}
@media (max-width: 383px) {
    .content {
        font-size: .75rem;
    }
}
@media (max-width: 337px) {
}

/*========== BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default on Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200 px) { ... }

=============*/