@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,900&display=swap');
@import url('footer-link.css');
@import url('company.css');
html {
    height: 100%;
    width: 100%;
}
body{
    font-family: 'Roboto', sans-serif !important;
    color: #707070;
    /* height: 100%; */
    width: 100%;
    overflow-y: auto;
}
a {
    color: unset !important;
}
/*---NAVBAR---*/
nav.navbar {
    height: 6rem;
    background-color: #fff;
    padding: unset !important;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}
.container-fluid {
    padding: unset !important;
}
.navbar-logo {
    margin-left: 7rem;
    height: auto;
}
#navbarResponsive {
    margin-right: 7rem;
    background: white;
}
.nav-item {
    font-size: 22px;
    font-weight: bolder;
    padding-left: 40px;
}
.nav-link:hover {
    color: #00A8FB !important;
}
#heroImage {
    background-image: url("./img/Home/Home\ Banner.png");
    /* width: 90%; */
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#heroVideo {
    max-height: 300px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.previous-page i {
    margin-left: 7rem;
    color: #00A8FB;
}
.previous-page label{
    padding-top: 2rem;
    padding-left: .5rem;
}

.header {
    margin-bottom: 2rem;
    display: block;
    font-size: 3rem !important;
    font-weight: 500;
    text-align: center;
    color: #00A8FB;
}

/*---FOOTER----*/
footer {
    margin-right: -50rem !important;
    padding-left: -50rem !important;
    margin-top: 5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    position: bottom;
    bottom: 0 !important;
    left: 0 !important;
    color: #fff !important;
    width: 100%;
    height: 100px;
    background-color: #00A8FB;
}
div.footer-label {
    padding-top: 1.5rem !important;
    padding-left: 4rem !important;
    padding-right: 4rem !important;
    font-size: 1rem;
}
.company-info {
    margin-bottom: -23px;  
}
.company-info label label {
    margin-right: 10px;
}
.footer-item {
    text-align: right;
    margin-bottom: -23px;
}
.footer-link {
    margin-right: 10px;
}








/* ---Media Queries---*/
@media (max-width: 1070px) {
    .navbar-logo {
        margin-left: 4rem;
    }
    #navbarResponsive {
        margin-right: 4rem;
    }
    .nav-item {
        font-size: 22px;
        padding-left: 20px;
    }
    .header {
        margin-bottom: 1.5rem;
        font-size: 2.5rem !important;
    }
    footer {
        height: 90px;
    }
    div.footer-label {
        text-align: center;
        padding-top: .85rem !important;
        font-size: .9rem;
    }
    .company-info {
        margin-bottom: -20px;
    }
    .company-info label label {
        margin-right: 10px;
    }
    .footer-item {
        text-align: center;
        margin-bottom: -10px;
    }
    .footer-link {
        margin-right: 10px;
    }
}
@media (max-width: 768px) {
    .navbar-logo {
        margin-left: 3rem;
        height: 50px;
    }
    .navbar-toggler {
        margin-right: 3rem;
    }
    .nav-item {
        font-size: 18px;
        padding-left: 15px;
        text-align: right;
    }
    .header {
        margin-bottom: 1rem;
        font-size: 2rem !important;
    }
    footer {
        height: 70px;
    }
    div.footer-label {
        font-size: .7rem;
    }
}
@media (max-width: 596px) {
    .header {
        margin-bottom: .75rem;
        font-size: 1.5rem !important;
    }
    nav.navbar{
        height: 4rem;
    }
    div.footer-label {
        font-size: 12px;
        margin-top: -5px;
    }
}
@media (max-width: 526px) {
    .header {
        font-size: 1rem;
    }
    .previous-page{
        padding-left: -2rem;
        font-size: .75rem;
    }
    div.footer-label {
        font-size: 10px;
        padding-top: .45rem !important;
    }
    .company-info label label {
        margin-bottom: -15px;
    }
    .footer-item {
        margin-top: 10px;
    }
}
@media (max-width: 383px) {
    .navbar-logo {
        height: 40px;
    }
    .navbar-toggler {
        padding: .25rem .5rem !important;
        font-size: 1rem !important;
    }
    .nav-link {
        font-size: .75rem;
        padding: .2rem .1rem !important;
    }
    .header {
        margin-bottom: .75rem;
        font-size: 1.25rem !important;
    }
    footer {
        height: 50px;
    }
    div.footer-label {
        font-size: 7px;
        padding-top: .5rem !important;
        margin-top: -30px;
    }
}
@media (max-width: 337px) {
    
    .header {
        margin-bottom: .5rem;
        font-size: 1rem !important;
    }
    .navbar-logo {
        height: 30px;
    }
    .navbar-toggler {
        padding: .25rem .5rem !important;
        font-size: .5rem !important;
    }
    .nav-link {
        font-size: .5rem;
    }
    
    div.footer-label {
        font-size: 6.5px;
        margin-top: -8px;
    }
}

/*========== BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default on Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200 px) { ... }

=============*/